<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Seed Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>
    <h1>Seed Prediction</h1>
    <h2>Input data</h2>
    <form action="/" method="post">
        <input type="number" name="area" placeholder="area">
        <input type="number" name="perimeter" placeholder="perimeter">
        <input type="number" name="compactness" placeholder="compactness">
        <input type="number" name="lengthOfKernel" placeholder="length of kernel">
        <input type="number" name="widthOfKernel" placeholder="width of kernel">
        <input type="number" name="asymmetryCoefficient" placeholder="asymmetry coefficient">
        <input type="number" name="lengthOfKernelGroove" placeholder="length of kernel groove">
        <input type="submit" value="Predict">
    </form>

    <h2>Or upload a file</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload and Predict">
    </form>

    {% if prediction %}
    <p>{{ prediction }}</p>
    {% endif %}
</body>

</html>