<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Seed Prediction Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='upload.css') }}">
</head>

<body>
    <h2>Prediction Results</h2>

    <table>
        <thead>
            <tr>
                <th>area</th>
                <th>perimeter</th>
                <th>compactness</th>
                <th>lengthOfKernel</th>
                <th>widthOfKernel</th>
                <th>asymmetryCoefficient</th>
                <th>lengthOfKernelGroove</th>
                <th>predictions</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row['area'] }}</td>
                <td>{{ row['perimeter'] }}</td>
                <td>{{ row['compactness'] }}</td>
                <td>{{ row['lengthOfKernel'] }}</td>
                <td>{{ row['widthOfKernel'] }}</td>
                <td>{{ row['asymmetryCoefficient'] }}</td>
                <td>{{ row['lengthOfKernelGroove'] }}</td>
                <td>{{ row['predictions'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/">Go back</a>
</body>

</html>